@use '/src/assets/sass/variables' as global;

.a-field-row {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 5px 0;
  padding: 2px;
  padding-bottom: global.$field-height;
  border: 1px solid;

  &--no-border {
    border: none;
  }
  
  &.-hide {
    display: none;
  }
}

@media (min-width: global.$sm-breakpoint) {
  .a-field-row {
    flex-direction: row;
    height: global.$field-row-height;
    margin: 0;
    padding: 0;
    border: none;
  }
}
