@use '/src/assets/sass/variables' as global;

.a-application-wrapper {
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(90vw - 20px);
    margin-top: calc(5vh + global.$title-bar-height);
    overflow: auto;
  }
}