@use '/src/assets/sass/variables' as global;

.a-field {

  display: flex;
  position: relative;
  align-items: flex-end;
  height: global.$field-row-height;

  // float label below input when focussed, otherwise show label as a placeholder
  &__label {
    position: absolute;
    color: global.$accent-color;
    font-size: global.$medium-font;
    bottom: 0;
    margin: 1px 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
    pointer-events: none;
    &.-active,&.-valid {
      top: 50%;
      margin-top: -16px;
      font-size: global.$small-font;
      text-align: left;

      &.-hide {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__input {
    color: global.$white-color;
    background-color: global.$light-color;
    border-color: global.$midtone-color;
    border-style: solid;
    height: 15px;
    width: 100%;
    &.-active{
    }
  }
}

input[type=date].a-field__input:invalid {
  color: transparent;
}