@use '/src/assets/sass/variables' as global;

.single-component-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: global.$max-page-height;
}