.a-field {

  display: inline-block;
  position: relative;

  // float label below input when focussed, otherwise show label as a placeholder
  &__label {
    position: absolute;
    font-size: 16px;
    bottom: 0;
    margin: 1px 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
    pointer-events: none;
    &.-active,&.-valid {
      top: 50%;
      margin-top: -16px;
      font-size: 12px;
      text-align: left;
    }
  }

  &__input {
    color: whitesmoke;
    background-color: #064663;
    border-color: #04293A;
    border-style: solid;
    &.-active{
    }
  }
}
