@use '/src/assets/sass/variables' as global;

.m-drawer {
  background-color: global.$light-color;
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0;
  position:absolute;
  align-items: stretch;
  top: global.$title-bar-height;
  left:0;
  bottom:0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  border-radius: 0 10px 10px 0;
  max-width: calc(100% - 0.5rem);

  &-right {
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 10px 0 0 10px;
    left: unset;
    right: 0;
    transform: translateX(100%);
  }

  &__content {
    position: relative;
    padding: 0.5rem;
    background-color: global.$midtone-color;
    border-radius: 10px;
    overflow: auto;
  }

  &__close-button {
    cursor: pointer;
    background-color: global.$light-color;
    border: none;
    color: global.$white-color;
    font-size: global.$large-button-font-size;
  }

  &__open-button {
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: global.$title-bar-height;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100% - global.$title-bar-height);
    background-color: global.$light-color;
    color: global.$white-color;
    font-size: global.$large-button-font-size;
    border: none;
    z-index: 99;
    width:fit-content;

    &-right {
      left: unset;
      right: 0;
      border-radius: 10px 0 0 10px;
      z-index: 99;
    }
  }

  &--open {
    transform: translateX(0);
  }
}