@use '/src/assets/sass/variables' as global;

.a-title-bar {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 101;
  height: global.$title-bar-height;
  background-color: global.$title-bar-color;
  -webkit-app-region: drag;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: global.$xlarge-font;
}