@use '/src/assets/sass/variables' as global;

.a-data-table {

  &__row {
    cursor: pointer;

    &--selected {
      background-color: global.$light-color;
    }

    &:hover {
      background-color: global.$light-color;
    }
  }

  &__cell {
    text-align: left;
  }
}
