.o-data-table {

  &__row {
    cursor: pointer;

    &--selected {
      background-color: #064663;
    }

    &:hover {
      background-color: #064663;
    }
  }

  &__cell {
    text-align: left;
  }
}
