$sm-breakpoint: 426px;
$max-page-height: 80vh;
$title-bar-height: 32px;
$title-bar-color: #2f3241;

$field-height: 21px;
$field-row-height: calc($field-height * 2);

$dark-color: #041C32;
$midtone-color: #04293A;
$light-color: #064663;
$accent-color: #ECB365;
$accent-color-70pct: rgb(236, 179, 101, 0.7);
$white-color: whitesmoke;

$small-font: 12px;
$medium-font: 16px;
$large-font: 18px;
$xlarge-font: 20px;
$large-button-font-size: 30px;