@use 'variables' as global;
#app {
  background-color: global.$dark-color;
  justify-content: flex-start;
}

body {
  overflow-x: hidden;
}


$button-height: 4px;
button {
  background-color: global.$accent-color;
  border: 1px solid global.$dark-color;
  color: global.$dark-color;
  font-weight: 600;
  font-size: global.$large-font;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    border: 1px solid global.$white-color;
  }

  &:active {
    color: global.$light-color;
    border: 1px solid global.$light-color;
  }

  &.chonky-button {
    box-shadow: 0px $button-height global.$accent-color-70pct;


    &:active {
      box-shadow: 0px 0px global.$accent-color-70pct;
      transform: translateY($button-height);
      transition: transform 0.2s ease-in-out;
      transition: box-shadow 0.1s ease-in-out;
    }
  }

}